.drivers-page {
  width: 100%;
  min-height: 100vh;
  background-color: #f8fafc;
}

.drivers-header {
  padding: 50px 7%;
  background-color: #eff6ff;
}

.back-link {
  display: inline-block;
  margin-bottom: 30px;

  color: #2563eb;
  text-decoration: none;
  font-weight: 700;
}

.drivers-header h1 {
  font-size: 42px;
  color: #172033;
  margin-bottom: 12px;
}

.drivers-header p {
  max-width: 650px;
  color: #64748b;
  font-size: 17px;
  line-height: 1.6;
}


/* ფილტრები */

.driver-filters {
  max-width: 1100px;
  margin: 30px auto;
  padding: 20px;

  display: flex;
  gap: 12px;

  background-color: white;
  border-radius: 15px;

  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.06);
}

.driver-filters select {
  flex: 1;
  padding: 14px;

  border: 1px solid #e2e8f0;
  border-radius: 8px;

  font-size: 15px;
}

.driver-filters button {
  padding: 14px 30px;

  border: none;
  border-radius: 8px;

  background-color: #2563eb;
  color: white;

  font-weight: 700;
  cursor: pointer;
}


/* მძღოლების სია */

.drivers-list {
  max-width: 1100px;
  margin: 0 auto;
  padding: 10px 20px 80px;
}

.driver-card {
  display: flex;
  align-items: center;
  gap: 25px;

  margin-bottom: 18px;
  padding: 25px;

  background-color: white;

  border: 1px solid #e8edf5;
  border-radius: 16px;
}

.driver-avatar {
  width: 80px;
  height: 80px;

  display: flex;
  align-items: center;
  justify-content: center;

  flex-shrink: 0;

  border-radius: 50%;

  background-color: #eff6ff;
  font-size: 35px;
}

.driver-info {
  flex: 1;
}

.driver-name {
  display: flex;
  align-items: center;
  gap: 12px;

  margin-bottom: 10px;
}

.driver-name h2 {
  color: #172033;
  font-size: 21px;
}

.driver-info p {
  margin-top: 7px;
  color: #64748b;
}

.verified {
  padding: 5px 9px;

  border-radius: 20px;

  background-color: #ecfdf5;
  color: #059669;

  font-size: 12px;
  font-weight: 700;
}

.driver-price {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 15px;
}

.driver-price strong {
  color: #172033;
  font-size: 18px;
}

.driver-price button {
  padding: 11px 17px;

  border: none;
  border-radius: 8px;

  background-color: #2563eb;
  color: white;

  cursor: pointer;
}


/* ტელეფონი */

@media (max-width: 700px) {

  .driver-filters {
    margin: 20px;
    flex-direction: column;
  }

  .driver-card {
    align-items: flex-start;
    flex-direction: column;
  }

  .driver-price {
    width: 100%;
    align-items: flex-start;
  }

  .driver-price button {
    width: 100%;
  }
}


.profile-btn {
  display: inline-block;

  padding: 11px 17px;

  background-color: #2563eb;
  color: white;

  border-radius: 8px;

  text-decoration: none;
  font-size: 14px;
  font-weight: 600;

  cursor: pointer;
}

.profile-btn:hover {
  background-color: #1d4ed8;
}